/* Custom color */
:root {
    --blue: rgb(81, 145, 222);
}

body {
    font-family: sans-serif;
    margin: 0%;
    background-color: rgb(236, 233, 233);
}

header {
    position: static;
    background-color: black;
    color: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.avatar>* {
    margin-left: 10px;
}

.avatar {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;


}

.menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

#headshot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


a {
    color: var(--blue);
    padding: 16px;
    font-weight: 100px;
}

/*Navigation Image*/
figure {
    margin: 0%;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

figure img {
    object-fit: cover;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

aside {
    color: var(--blue);
    flex: 1;
    padding: 20px;
    width: 10px;
}

section {
    flex: 20;
    padding: 20px;
}

/* Vertical line style */
.vl {
    border-left: 6px solid var(--blue);
    margin: 10px;

}

/* Work section styling */
.work_section {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    margin: 15px;
    flex: 1;
}

.imagine_container{
    flex: 1;
    margin: 10px;
    position: relative;
}

.main_image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--blue);
}

.work_section figcaption {
    position: absolute;
    bottom: 0px;
    left: 5px;
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 5px;
    
}



.sub_image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--blue);
}




@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}